streamlit==1.41.1
streamlit_option_menu==0.4.0
streamlit_navigation_bar==3.3.0
keras==3.8.0
opencv-python==4.8.0.74
pathlib==1.0.1
plotly==5.18.0
lxml==5.1.0
statsmodels==0.14.4
scikit-learn==1.4.0
matplotlib==3.8.2
numpy==1.26.4
streamlit-lottie==0.0.3
joblib>=1.2.0
boto3==1.20.34
pip>=24.3.1
beautifulsoup4==4.12.3
prophet==1.1.6
requests==2.32.3
seaborn==0.13.2
statsmodels==0.14.4
tensorflow==2.17.1
utils==1.0.2
util_functions==1.0.1
pandas-gbq>=0.20.0
vega_datasets==0.9.0
pandas==2.2.2
pmdarima==2.0.4
pydeck==0.9.1
watchdog==6.0.0
st_theme==1.2.3
XlsxWriter==3.2.2
openpyxl
altair







#google-cloud-bigquery==3.17.1
#google-api-core==2.15.0
#google-auth==2.27.0
#google-auth-oauthlib==1.0.0
#google-cloud==0.34.0
#google-cloud-bigquery-storage==2.24.0
#google-cloud-core==2.4.1
#google-crc32c==1.5.0
#google-pasta==0.2.0
#google-resumable-media==2.7.0
#googleapis-common-protos==1.62.0
#googletrans==3.0.0



